<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1><%= mess%></h1>
    <a href="/new">Add new message</a>
    <a href="/searchUser">Search Users</a>
    <%messages.forEach(message=>{%>
    <h2>User : <%= message.username%></h2>
    <h2>Mail : <%= message.mail%></h2>
    <h2>Age : <%= message.age%></h2>
    <h2>Bio : <%= message.bio%></h2>
    <%});%>
  </body>
</html>
